<div class="main-perfiles">

  <div class="row">
    <div class="col-md-8">
      <h5 class="mt-3">Perfiles del Usuario</h5>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <button
        igxButton="outlined"
        class="w-100 mt-2"
        (click)="dialog.open(); refreshForm(); isEdit = false; "
      >
        Nuevo
        <igx-icon fontSet="material"> add </igx-icon>
      </button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-4 py-2" *ngFor="let prof of profiles">
      <igx-card type="outlined" class="profile--card">
        <div
          class="profile--card__header"
          
        >
          <igx-card-header>
            <span igxCardHeaderTitle>{{ prof.descripcion }}</span>
            <span igxCardHeaderSubtitle> {{ prof.descripcionempresa }} </span>
            <span> {{ prof.perfil }} </span>
          </igx-card-header>
  
          <span style="float: left; padding-left: 15px;" [ngStyle]="{'color': prof.estado == '1'? blue:red}"><b> {{prof.estado === "1"? 'ACTIVO':'INACIVO'}} </b></span>
          <p class="text-right px-3 mb-2">{{prof.modUsuario}} | <strong>{{ prof.modFecha }}</strong></p>
        </div>

        <!-- <div #tooltipRefCard="tooltip" igxTooltip>
          Ver detalles en otra página
        </div> -->
        
        <igx-divider></igx-divider>

        <igx-card-actions>
          <!-- (click)="currentProfile=prof; manageProfile(prof); manageModal.open()" -->
          <button
            igxButton
            igxRipple
            [routerLink]="[ '/perfiles/detalle']"
            [queryParams]="{perfil: prof.perfil}"
          >VER DETALLES</button>

          <button
            igxRipple
            igxButton="icon"
            igxRippleCentered="true"
            igxButtonColor="#4e4e4e"
            (click)="dialog.open(); edit(prof); isEdit = true;"
          >
            <igx-icon> edit </igx-icon>
          </button>
          <button
            igxRipple
            igxButton="icon"
            igxRippleCentered="true"
            igxButtonColor="#4e4e4e"
            (click)="deleteDialog.open(); currentProfile=prof;"
          >
            <igx-icon> delete </igx-icon>
          </button>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
</div>


<!-- ------------------------------ All are now Dialogues ------------------------------ -->
<!-- Create new Perfil dialogue -->
<igx-dialog
  #dialog
  [closeOnOutsideSelect]="true"
  [positionSettings]="positionSettings"
>
  <igx-dialog-title class="d-flex pb-0">
    <div class="d-flex">
      <igx-icon>account_box</igx-icon>
      <div class="dialog-title">{{ isEdit? 'Editar Perfil':'Crear nuevo Perfil' }}</div>
    </div>
  </igx-dialog-title>
  
  <div class="igx-dialog__window-content" style="width: 700px;">
    <form [formGroup]="newProfileForm">
      <igx-input-group>
        <igx-prefix>
          <igx-icon>person</igx-icon>
        </igx-prefix>
        <label igxLabel for="name">Nombre de Perfil</label>
        <input igxInput name="name" formControlName="descripcion" type="text" />
      </igx-input-group>

      <igx-input-group>
        <igx-prefix>
          <igx-icon>lock</igx-icon>
        </igx-prefix>
        <label igxLabel for="empresa">Empresa</label>
        <input igxInput name="empresa" formControlName="descripcionempresa" type="text" />
      </igx-input-group>

      <igx-input-group >
        <label igxLabel for="perfil">Código</label>
        <input igxInput formControlName="perfil" name="perfil" type="text"/>
      </igx-input-group >

      <igx-radio-group formControlName="estado">
        <igx-radio class="radio-sample pr-1 my-2" value="1">ACTIIVO</igx-radio>
        <igx-radio class="radio-sample pr-1 my-2" value="0">INACTIIVO</igx-radio>
      </igx-radio-group>
    </form>
  </div>

  <div igxDialogActions class="dialog-container dialog-actions">
    <button igxButton [hidden]="isEdit" (click)="createProfile(dialog)">CREAR</button>
    <button igxButton [hidden]="!isEdit" (click)="editProfile(dialog)">EDITAR</button>
    <button igxButton (click)="dialog.close()">CANCEL</button>
  </div>
</igx-dialog>

<!-- Ver detalles -->
<igx-dialog
  #manageModal
  [closeOnOutsideSelect]="true"
>
  <igx-dialog-title>
    <div class="d-flex px-3">
      <div class="dialog-title">Gestionando Perfil:</div>
    </div>
  </igx-dialog-title>
  
  <div class="igx-dialog__window-content">
    <div class="text-uppercase">
      {{ currentProfile.descripcionempresa }} - <span class="font-weight-bold"> {{ currentProfile.descripcion }}</span>
    </div>
    <hr>
    <pre class="d-flex">
      {{currentProfile | json}}
    </pre>
  </div>

</igx-dialog>

<!-- Delete Perfil -->
<igx-dialog
  #deleteDialog
  [closeOnOutsideSelect]="true"
  [positionSettings]="positionSettings"
>
  <igx-dialog-title>
    <div class="d-flex px-3">
      <div class="dialog-title">Borrar {{ currentProfile.descripcion }}</div>
    </div>
  </igx-dialog-title>

  <div class="igx-dialog__window-content">
    ¿Estas seguro que deseas borrar este perfil?
  </div>

  <div igxDialogActions class="dialog-container dialog-actions">
    <button igxButton (click)="deleteProfile(currentProfile, deleteDialog)">SI, BÓRRALO</button>
    <button igxButton (click)="deleteDialog.close()">NO</button>
  </div>
</igx-dialog>