  <div class="content-wrap">
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
      <ng-template igxDrawer>
        <nav>
          <div class="d-flex justify-content-between">
            <span igxButton="icon" igxToggleAction="navigation" style="float:left; margin: 10px 10px 0;">
              <igx-icon fontSet="material" color="blue">menu</igx-icon>
            </span>
            <span igxDrawerItem [isHeader]="true" class="font-weight-bold"> Bienvenido </span>
          </div>

          <hr class="my-2">
          <span
            igxDrawerItem
            igxRipple
            [routerLink]="[ '/home' ]"
            routerLinkActive="igx-nav-drawer__item--active"
            (click)="navigation.toggle()"
          > Home </span>

          <ng-container *ngFor="let it of menuItems">
            <hr class="my-2" [hidden]="it.nivel!==1">
            <span 
              igxDrawerItem 
              [attr.igxRipple]="it.nivel !== 1"
              [isHeader]="it.nivel === 1"
              (click)="getToRoute(it); navigation.toggle()"
              [ngStyle]="{'margin-left.px': (it.nivel-1)*15 }"
            >
              {{ it.descripcion }}
            </span>
          </ng-container>
          <hr class="my-2">
          <span 
            igxDrawerItem 
            igxRipple
            [routerLink]="[ '/perfiles' ]"
            routerLinkActive="igx-nav-drawer__item--active"
            (click)="navigation.toggle()"
          >
            Perfiles
          </span>
          <hr class="my-2">
          <span 
            igxDrawerItem 
            igxRipple
            [routerLink]="[ '/usuarios' ]"
            routerLinkActive="igx-nav-drawer__item--active"
            (click)="navigation.toggle()"
          >
            Usuarios
          </span>
          
          <!-- <span igxDrawerItem igxRipple [active]="true"> Drafts </span> -->
        </nav>
      </ng-template>
    </igx-nav-drawer>
    <main class="w-100 h-100">

      <app-header></app-header>

      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    
    </main>
  </div>
