  <div class="content-wrap">
    <igx-nav-drawer id="navigation" #drawer [isOpen]="true">
      <ng-template igxDrawer>
        <nav>
          <span igxButton="icon" igxToggleAction="navigation" style="float:right; margin: 6px 6px 0 0;">
            <igx-icon fontSet="material">menu</igx-icon>
          </span>
          <span igxDrawerItem [isHeader]="true" class="font-weight-bold"> Bienvenido </span>

          <hr>
          <span igxDrawerItem igxRipple [active]="true"> Home </span>

          <ng-container *ngFor="let it of menuItems">
            <hr [hidden]="it.nivel!==1">
            <span 
              igxDrawerItem 
              [attr.igxRipple]="it.nivel !== 1"
              [isHeader]="it.nivel === 1"
              (click)="getToRoute(it)"
              [ngStyle]="{'margin-left.px': (it.nivel-1)*15 }"
            >
              {{ it.descripcion }}
            </span>
          </ng-container>
          
          <!-- <span igxDrawerItem igxRipple [active]="true"> Drafts </span> -->
        </nav>
      </ng-template>
    </igx-nav-drawer>
    <main class="w-100 h-100">

      <app-header></app-header>

      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    
    </main>
  </div>
