<div>
  awuwuwuwu
</div>
<div class="row">
  <div class="col-md-6 col-sm-3">wat 6?</div>
  <div class="col-md-6 col-sm-3">wat 6?</div>
  <div class="col-md-6 col-sm-3">DOMINIO</div>
  <div class="col-md-6 col-sm-3">DOMINIO</div>
  <div class="col-md-6 col-sm-3">GULAG</div>
  <div class="col-md-6 col-sm-3">EISONHOWER</div>
  <div class="col-md-6 col-sm-3">GULAG</div>
  <div class="col-md-6 col-sm-3">EISONHOWER</div>
  <div class="col-md-6 col-sm-3">DANKULA</div>
  <div class="col-md-6 col-sm-3">DANKULA</div>
</div>
<span igxButton="icon" [igxToggleAction]="navigation">
  <igx-icon fontSet="material">menu</igx-icon>
</span>
