/* You can add global styles to this file, and also import other style files */
*, *:after, *:before{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html{ // sera?
  width: 100%;
}

p{
  margin: 0;
}

body{
  background-color: #eeeeee; /* light gray */ font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1e1e1e; /* dark gray */
}

a, a:visited {
  color: #006699;
  // text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}
@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-theme($default-palette);


/* Important secures */
p{
  margin-bottom: 10px;
  margin-top: 0 !important;
}

button:focus{
  outline: 0 !important;
}